
@{
    Layout = null;
}



<!DOCTYPE html>
<html class=''>
<head>

    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>


    <div id="frame">

        <div class="content">
            <div class="contact-profile">
                <img src="https://png.pngtree.com/png-vector/20190118/ourmid/pngtree-vector-chat-icon-png-image_323830.jpg" alt="" />
                <p>Random Text Chat</p>
                <div class="social-media">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
            </div>
            <div class="messages">
                <ul id="conversation">
                </ul>
            </div>
            <div class="message-input">
                <div class="wrap">
                    <input id="messageTextbox" type="text" placeholder="Write your message..." />
             
                   
                    <label for="my-file-selector">
                        <input id="my-file-selector" type="file" style="display: none">
                        <i class="fa fa-paperclip attachment" aria-hidden="true">
                        </i>
                    </label>
                    <button id="sendBtn" class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>


    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/moment.js/moment.js"></script>
    <script src="~/core/langs/lang.en.js"></script>
    <script src="~/core/controllers/TemplatesController.js"></script>
    <script src="~/core/controllers/AnonymousTextUIController.js"></script>
    <script src="~/core/hubs/AnonymousTextHub.js"></script>
</body>
</html>